/* Header */
.logo{
    background-image: url(../img/pattern.png);
    background-color: lightblue;
    width: auto;
    height:30%;

}

/* Main */
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight:800;
}

.sottotitolo{
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    font-size: small;
}

.link{
    color: aqua;
}

.foto{
    font-size: small;
}

.testo{
    font-weight: 600;
}

.evidenziata{
    background-color: yellow;
}

table{
    width: 100%;
    height: 100%;
}

thead{
    background-color: rgba(7, 107, 206, 0.853);
}

.azzurro{
    background-color: rgb(60, 213, 251);
}

